* {
	margin: 0;
	padding: 0;
	}

header, footer, section, aside, nav, article {
	display: block;
	}

body {
	margin: 0 auto;
	width: 960px;
	background: #a18b62 url("images/bodybkg.gif") repeat;
	
	}

a{
	
	text-decoration:none;
}



h1 {
	font-size: 36px;
	margin-left: 100px;
	padding: 10px 0;
	text-shadow: 2px 2px 2px #000;
	color: #d6a965;
	}

h2 {
	font-size: 24px;
	padding: 10px 0;
	}

h3 {
	font-size: 18px;
	padding: 10px 0;
	}
h4 {
	font-size: 18px;
	padding: 10px 0;
	}
h5 {
	font-size: 14px;
	padding: 10px 0;
	}
p {
	padding-bottom: 20px;
	}
		

 .menuDiv { 
       
        overflow: hidden; 
        display:inline-block;
         border: 1px #000000;
        
     
    }
    
    .menuDiv a {
        text-decoration: none;
    }
    
    .menuDiv ul , .menuDiv li {
    	z-index: 2;
        list-style: none;
        margin: 0;
        padding: 0;
        float: left;
    } 
    
    .menuDiv > ul > li > ul {
        position: absolute;
        display: none;
    }

    .menuDiv > ul > li > ul > li {
        float: none;
    }
  
    .menuDiv > ul > li:hover ul {
        display: block;
    }

    .menuDiv > ul > li > a {
        width: 191px;
        line-height: 40px;
        color: black;
        background-color: #f2ede7;
        text-align: center;
         border-left: 1px solid #bbf;
       
        display: block;
    }
    
    .menuDiv > ul > li:first-child > a {
        border-left: none;
	}
	
    .menuDiv > ul > li > a:hover {
        color: #f0f;
        background-color: #bcf;
    }

    .menuDiv > ul > li > ul > li > a {
        width: 191px;
        line-height: 36px;
        color: #456;
        background-color: #eff;
        text-align: center;
       
      
        border-top: none;
        display: block;
    }
    
    .menuDiv > ul > li > ul > li:first-child > a {
        border-top: 1px solid #ccc;
    }
    
    .menuDiv > ul > li > ul > li > a:hover {
        color: #a4f;
        background-color: #cdf;
    }

#content {
	position: relative;
	margin-top: 50px;
	float: left; 
	width: 920px; 
	margin:10px 5px 10px 0; 
	padding:5px 20px 5px 20px;
	background-color: #f2ede7;
	z-index: -100;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


#content ul.column {
	width: 100%;
	padding: 0;
	margin: 10px 0;
	list-style: none;
}

#content ul.column li {
	float: left;
	width: 230px;
	padding: 0;
	margin: 5px 0;
	display: inline;
}

#content .block {
	height: 330px;
	font-size: 1em;
	margin-right: 10px;
	padding: 20px;
	background: #d6a965;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#content .block a {
	color: #FFF;
	}

#container1 {
	position: relative;
	margin-top: 0px;
	width: 920px; 
	margin:10px 5px 10px 0; 
	padding:5px 20px 5px 20px;
	background-color: #f2ede7;
	z-index: -100;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}
#content1 {
	float: left; 
	width: 60%; 
}
#photo {
	float: right;
	width: 35%; 
}

#container3 {
	position: relative;
	width: 920px; 
	margin:10px 5px 10px 0; 
	padding:5px 20px 5px 20px;
	background-color: #f2ede7;
	z-index: -100;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}
#content3 {
	float: right; 
	width: 100px; 
}
#example_video_1 {
	float: left;
	width: 530px; 
	height: 300px;
}

	
footer {
	width: 960px;
	clear: both;
	color: #f2ede7;
	overflow: hidden;
	padding-top: 10px;
	background-color: #8d713e;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	height: 200px;
	margin-bottom: 10px;
	}
	
footer div {
width: 170px;
float: left;
padding: 0 11px;
}

footer div h2 {
margin-top: 0;
}

footer div p {
  font-size: 10px;
	}

footer div a {
	color: #999;
	}
	
footer div a:hover {
	color: #FFF;
	text-decoration: none;
	}
	

.nr{
	height: 400px;
	width: 960px;
	
}



.map img{
	margin-left: 160px;
	height: 350px;
}
.map{
	height: 700px;
}

.tea1{
	height: 900px;
}
.tea2{
	height: 900px;

}
.tea3{
	height: 900px;
}

.list_main
{
    min-height: 350px;
   _height: 350px;
    background-color: #FFF;
    margin-top: 10px;
}

.news_type
{
    width: 220px;
    height: 350px;
    border: 1px solid #E8E8E8;
    float: left;
}

/* .list_box
{
    width: 770px;
    min-height: 350px;
    _height:350px;
    border: 1px solid #E8E8E8;
    float: right;
} */

.news_type h2
{
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    font-family: "微软雅黑";
    color: #666;
    background:url(../img/titile_bg.gif) repeat-x;
    padding-left:20px;
}

.news_type_content
{
    height:36px;
	background:url(../img/content_bg.gif) repeat-x
}

.news_type_content li
{
    list-style-type: none;
    height: 30px;
    line-height: 30px;
}

.news_type_content li a
{
    color: #666;
    text-decoration: none;
   background:url(../img/li_bg.gif) no-repeat left center; 
    padding: 15px;
    display: block;
}

.news_type_content li a:hover
{
    color: #009CDF;
	/* background:url(../img/li_bg2.gif) no-repeat left center; */
	background-color: #F2F2F2;   
}

.list_box h2
{
    font-size: 14px;
    font-family: "微软雅黑";
    color: #666;
    height: 35px;
    line-height: 35px;
	background:url(../img/type_bg.png) repeat-x;
	padding: 20px;
	margin-bottom: 10px;
}

.news_list
{
    margin-top:20px;
}

.news_list li
{
    list-style-type: none;
	 /* background:url(../img/list.jpg) no-repeat;  */
    padding-left: 10px;
    margin: 8px;
    border-bottom: 1px dotted #CCC;
}

.news_list a:link,.news_list a:visited
{
    text-decoration: none;
    color: #000;
}

.news_list a:hover,.news_list a:active
{
    text-decoration: none;
    color:#F00;
}

.news_list1
{
    margin-top:20px;
}

.news_list1 li
{
    list-style-type: none;
	/* background:url(../img/list.jpg) no-repeat; */
    padding-left: 10px;
    margin: 8px;
    border-bottom: 1px dotted #CCC;
}

.news_list1 a:link,.news_list1 a:visited
{
    text-decoration: none;
    color: #000;
}

.news_list1 a:hover,.news_list1 a:active
{
    text-decoration: none;
    color:#F00;
}

.news_list2
{
    margin-top:20px;
}

.news_list2 li
{
    list-style-type: none;
	/* background:url(../img/list.jpg) no-repeat; */
    padding-left: 10px;
    margin: 8px;
    border-bottom: 1px dotted #CCC;
}

.news_list2 a:link,.news_list2 a:visited
{
    text-decoration: none;
    color: #000;
}

.news_list2 a:hover,.news_list2 a:active
{
    text-decoration: none;
    color:#F00;
}

.news_list3
{
    margin-top:20px;
}

.news_list3 li
{
    list-style-type: none;
	/* background:url(../img/list.jpg) no-repeat; */
    padding-left: 10px;
    margin: 8px;
    border-bottom: 1px dotted #CCC;
}

.news_list3 a:link,.news_list3 a:visited
{
    text-decoration: none;
    color: #000;
}

.news_list3 a:hover,.news_list3 a:active
{
    text-decoration: none;
    color:#F00;
}

.news_list4
{
    margin-top:20px;
}

.news_list4 li
{
    list-style-type: none;
	/* background:url(../img/list.jpg) no-repeat; */
    padding-left: 10px;
    margin: 8px;
    border-bottom: 1px dotted #CCC;
}

.news_list4 a:link,.news_list4 a:visited
{
    text-decoration: none;
    color: #000;
}

.news_list4 a:hover,.news_list4 a:active
{
    text-decoration: none;
    color:#F00;
}

.co ul.cn {
	width: 100%;
	padding: 0;
	margin: 10px 0;
	list-style: none;
}

.co ul.cn li {
	float: left;
	width: 230px;
	padding: 0;
	margin: 5px 0;
	display: inline;
}

.co .block {
	height: 330px;
	font-size: 1em;
	margin-right: 10px;
	padding: 20px;
	background: #d6a965;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.co .block a {
	color: #FFF;
	}


	.co1 ul.cn1 {
		width: 100%;
		padding: 0;
		margin: 10px 0;
		list-style: none;
	}
	
	.co1 ul.cn1 li {
		float: left;
		width: 230px;
		padding: 0;
		margin: 5px 0;
		display: inline;
	}
	
	.co1 .block {
		height: 330px;
		font-size: 1em;
		margin-right: 10px;
		padding: 20px;
		background: #d6a965;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	
	.co1 .block a {
		color: #FFF;
		}


		
